{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block title_page %}
    Log in
{% endblock %}

{% block content %}
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <form method="post" enctype="multipart/form-data">
                <div class="row row-cols-1 row-cols-sm-2 row-cols g-2">
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-outline-success">
                                    Log in
                                </button>
                                <a class="btn btn-outline-info" role="button" aria-disabled="true"
                                href="{% url 'catalog:index' %}">Recover password</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}