{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block title %}
    <h2 class="display-5 fw-bold">{{ title }}</h2>
{% endblock %}

{% block content %}
    <main>
        <div class="album py-5 bg-body-tertiary">
            <div class="container-fluid">
                <a class="btn btn-primary mb-3"
                   href="{% url 'catalog:create_blog' %}" role="button">Create blog
                </a>
                <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 g-4">
                    {% for object in object_list %}
                        <div class="col">
                            <div class="card shadow-sm m-lg-3">
                                <img class="img-fluid" src="{{ object.photo | mymedia }}"
                                     style="height: 250px;width: auto;">
                                <div class="card-body">
                                    <div class="card-header py-2">
                                        <h5 class="my-1 fw-normal">{{ object.title }}
                                            (Product: {{ object.product }})</h5>
                                    </div>
                                    <div class="card-header py-2">
                                        {% if object.body %}
                                            <p class="text-start m-3">{{ object.body|truncatewords:15 }}</p>
                                        {% else %}
                                            Not body
                                        {% endif %}
                                    </div>
                                    <div class="btn-group">
                                        <a class="btn btn--sm btn-outline-secondary"
                                           href="{% url 'catalog:blog_info' object.id %}"
                                           role="button">View
                                        </a>
                                        <a class="btn btn--sm btn-outline-secondary"
                                           href="{% url 'catalog:update_blog' object.id %}"
                                           role="button">Update
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}