{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block title %}
    <h2 class="display-5 fw-bold">{{ title }}</h2>
{% endblock %}

{% block content %}
    <main>
        <div class="album py-5 bg-body-tertiary">
            <div class="container-fluid">
                <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card shadow-sm m-lg-3">
                            <img class="img-fluid" src="{{ object.photo | mymedia }}"
                                 style="height: 250px;width: auto;">
                            <div class="card-body">
                                <div class="card-header py-2">
                                    <h5 class="my-1 fw-normal">{{ object.title }}
                                        (Product: {{ object.product }})</h5>
                                </div>
                                <div class="card-header py-2">
                                    {% if object.body %}
                                    <p class="text-start m-3">{{ object.body }}</p>
                                    {% else %}
                                    Not body
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}