{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
    <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Name: {{ product.name }}</h2>
            <p class="lead">Price: {{ product.price }}</p>
        </div>
        <div class="figure-img" style="width: 25rem;">
            <img src="{{ product.photo | mymedia }}" class="card-img-top" alt="...">
        </div>
    </div>
{% endblock %}