{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block title_page %}
    {% if object %}
        Save
    {% else %}
        Create
    {% endif %}
{% endblock %}

{% block title %}
    <h2 class="display-4 fw-bold">{{ title }}</h2>
{% endblock %}

{% block content %}
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-outline-success">
                                    {% if object %}
                                        Save
                                    {% else %}
                                        Create
                                    {% endif %}
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}