{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block title %}
    <h2 class="display-4 fw-bold">{{ title }}</h2>
{% endblock %}

{% block content %}
    <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
        <div class="card shadow-sm">
            <img class="img-fluid" src="{{ product.photo | mymedia }}"
                 style="height: 350px;width: auto;">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <h4 class="card-title pricing-card-title">Price: {{ product.price }}</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Category product: {{ product.category }}</li>
                    <li class="list-group-item">Date of creation: {{ product.created_at }}</li>
                    <li class="list-group-item">Date of update: {{ product.updated_at }}</li>
                </ul>
                <div class="btn-group">
                    <a class="btn btn--sm btn-outline-secondary"
                       href="{% url 'catalog:index' %}" role="button">Main
                    </a>
                    <a class="btn btn--sm btn-outline-secondary"
                       href="{% url 'catalog:contact_info' %}" role="button">Contact
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{#    <div class="col">#}
{#        <div class="card shadow-sm">#}
{#            <div class="card-header py-3">#}
{#                <h3 class="my-0 fw-normal">{{ product.name }}</h3>#}
{#            </div>#}
{#            <div class="card-header py-2">#}
{#                <h4 class="card-title pricing-card-title">Price: {{ product.price }}</h4>#}
{#                <p class="text-start m-3">{{ product.description }}</p>#}
{#            </div>#}
{#            <div class="card-body">#}
{#                <img src="{{ product.photo | mymedia }}" class="img-fluid">#}
{#            </div>#}
{#            <div class="d-flex justify-content-between align-items-center">#}
{#                <div class="card-body">#}
{#                    <div class="btn-group">#}
{#                        <a class="btn btn--sm btn-outline-secondary"#}
{#                           href="{% url 'catalog:product_info' product.id %}" role="button">View#}
{#                        </a>#}
{#                        <a class="btn btn--sm btn-outline-secondary"#}
{#                           href="{% url 'catalog:index' %}" role="button">Main#}
{#                        </a>#}
{#                        <a class="btn btn--sm btn-outline-secondary"#}
{#                           href="{% url 'catalog:contact_info' %}" role="button">Contact#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
